In [0]:
data = [
("James", 25),
("Michael", 26) ,
("Robert",30),
("Maria", 28),
("Jen",33)
]

In [0]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext

spark = SparkSession.builder.getOrCreate()
df = spark.createDataFrame(data,['name','age'])

df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

+-------+---+
|   name|age|
+-------+---+
|  James| 25|
|Michael| 26|
| Robert| 30|
|  Maria| 28|
|    Jen| 33|
+-------+---+

### Method 1: Using Lpad

In [0]:
from pyspark.sql.functions import lpad, format_string, concat, lit, substring

df_new  = df.withColumn('Age000', lpad('age', 3, '0')).show()

+-------+---+------+
|   name|age|Age000|
+-------+---+------+
|  James| 25|   025|
|Michael| 26|   026|
| Robert| 30|   030|
|  Maria| 28|   028|
|    Jen| 33|   033|
+-------+---+------+

### Method 2: Format_string

In [0]:
df_new  = df.withColumn('Age000', format_string("%03d",'age')).show()

+-------+---+------+
|   name|age|Age000|
+-------+---+------+
|  James| 25|   025|
|Michael| 26|   026|
| Robert| 30|   030|
|  Maria| 28|   028|
|    Jen| 33|   033|
+-------+---+------+

In [0]:
df_new  = df.withColumn('Age000', format_string("%s#%03d",'name', 'age')).show()

+-------+---+-----------+
|   name|age|     Age000|
+-------+---+-----------+
|  James| 25|  James#025|
|Michael| 26|Michael#026|
| Robert| 30| Robert#030|
|  Maria| 28|  Maria#028|
|    Jen| 33|    Jen#033|
+-------+---+-----------+

### Method 3: Concat and Substring

In [0]:
df_new  = df.withColumn('Age000', concat(lit("00"), 'age')).show()

+-------+---+------+
|   name|age|Age000|
+-------+---+------+
|  James| 25|  0025|
|Michael| 26|  0026|
| Robert| 30|  0030|
|  Maria| 28|  0028|
|    Jen| 33|  0033|
+-------+---+------+

In [0]:
df_new  = df.withColumn('Age000', substring('age', -3, 3)).show()

+-------+---+------+
|   name|age|Age000|
+-------+---+------+
|  James| 25|    25|
|Michael| 26|    26|
| Robert| 30|    30|
|  Maria| 28|    28|
|    Jen| 33|    33|
+-------+---+------+